html{
    margin: auto;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
}

body{
    margin: auto;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
}

#topsection{
    border: 1px solid black ;
}

#name{
    margin: auto;
    border: 1px solid black ;
    text-align: center;
    font-weight: 100;
    font-style: normal;
    padding: 0;
}

#nameh1{
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

#navbar{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border: 1px solid black ;
}

.navitem{
    padding: 0;
    display: inline;
    font-family: "Anton", sans-serif;
    font-weight: normal;
    font-style: normal;
}

#userphoto{
    display: flex;
    max-width: 90px;
    margin-left: 25%;
    padding-top: 10%;
}

#content{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    margin: auto;
}

#sidebar{
    width: 15%;
    max-height: 100%;
    border-right: 2px solid black;
}

.subtopic{
    margin-left: 10%;
    margin-right: 5%;
    font-family: "Anton", sans-serif;
    font-weight: lighter;
    font-style: normal;
}

.subtopicanchor{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#000 0 0);
    background-position: right -100% bottom 0;
    background-size: 200% 2px;
    background-repeat: no-repeat;
}

.subtopicanchor:hover{
    background-position: left -100% bottom 0;
    transition: background-position 0.5s;
}

.subtext{
    margin-left: 10%;
    margin-right: 5%;
}

#shaun{
    display: flex;
    margin: auto;
    max-width: 50px;
}

#iconlist{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
}

.smicon{
    display: inline;
}

.imgicon{
    width: 25px;
}

footer{
    display: inline-table;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: auto;
    width: 100%;
    background-color: black;
    color: aliceblue;
}

#rights{
    display: flex;
    justify-content: center;
    font-family: "Doto", sans-serif
}